.navbar {
    background-color: black;
    overflow: hidden;
    list-style-type: none;
}

.navbar .left {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar .right {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar h1 { 
    color: white;
  }
  
  .navbar li:hover {
    background-color: #ddd;
    color: black;
  }