.left {
    left: 0;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#profilepic {
    width: 100%;
    height: 200px;

}

#profilepic1 {
    width: 100%;
    height: 210px;

}

#minion1 {
    height: 200px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 650px) {
    .column {
        width: 300px;
        display: block;
        height: 300px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}


.h2 {
    text-align: center;
}

.row {
    font-size: 20px;

}

.centered {
    font-size: 80px;
}


.center {
    font-size: 40px;
    color: black;
}



.meet {
    float: left;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.feature {
    float: left;
    padding: 10px;
}

.card {
    border: 1px dotted black;
    display: block;
    position: relative;

}

.row {
    border: 1px hidden whitesmoke;
    text-align: center;

}

.aboutparagraph {
    float: left;
    padding: 10px;

    font-size: 20px;
    color: black;


}

.image {
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    display: inline
}

.contact {
    border: 1px solid black;
}

.slogan {
    font-size: 60px;
}

#slogans {
    font-size: 30px
}

.rotate {
    position: relative;
    animation: rotation 5s 2;
    animation-duration: 3s;
    width: 100%;
    height: 400px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}